.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.form-wrapper .main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 80px;
  background-color: blueviolet;
}

.form-wrapper .main-header-title {
  font-size: 24px;
  font-weight: 400;
  color: white;
  text-align: center;
}

.main-header img {
  margin-top: 5px;
}

.inputs-wrapper {
  display: flex;
  gap: 60px;
  justify-content: center;
  margin-top: 30px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50px;
}

.input-wrapper .label {
  margin-left: -3px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.parameter {
  font-size: 24px;
  width: 60px;
  border: none;
  border-bottom: 2px solid blueviolet;
  color: blueviolet;
  text-align: center;
  outline: none;
}

.buttons-calculate-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.buttons-calculate-wrapper button {
  width: 100px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: blueviolet;
  background-color: rgb(229, 207, 251);
  border: 1px solid blueviolet;
  border-radius: 3px;
}

.buttons-calculate-wrapper button:hover {
  background-color: rgb(168, 110, 223);
}

.buttons-calculate-wrapper button:active {
  background-color: rgb(180, 145, 214);
}

.results-wrapper {
  height: 120px;
}

.result-value {
  font-size: 36px;
  font-weight: 700;
  margin-top: 20px;
  color: blueviolet;
  text-align: center;
}

.result-name {
  width: 70px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 150%;
}

.line-gradient {
  height: 2px;
  margin-top: 20px;
  background: linear-gradient(
    to right,
    blue 100px,
    green 100px 200px,
    rgb(201, 201, 22) 200px 300px,
    red 300px
  );
}

.result-interpretation {
  display: flex;
  justify-content: space-around;
  /* margin-left: -15px; */
  /* gap: 40px; */
}

.result-interpretation-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100px;
  align-items: center;
}

.result-interpretation-info dt {
  font-size: 14px;
  font-weight: 700;
  color: blueviolet;
}

.result-interpretation-info dd {
  font-size: 12px;
}

.bluecolor {
  color: blue;
}

.greencolor {
  color: green;
}

.yellowcolor {
  color: rgb(201, 201, 22);
}

.redcolor {
  color: red;
}
