.buttons-wrapper {
  display: flex;
  gap: 30px;
  width: 350px;
  border: 1px solid orange;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.info {
  width: 80px;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  border: 1px solid blue;
}

.active {
  border: 1px solid red;
}

.result-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 90px;
  font-size: 36px;
  color: green;
  border: 1px solid orange;
  border-top: none;
}
