.users-table {
  border: 2px solid black;
  border-collapse: collapse;
}

.users-table th {
  padding: 10px;
  border: 1px solid grey;
}

.users-table td {
  padding: 10px;
  border: 1px solid grey;
}
