* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 20px;
  font-size: 14px;
  height: 100vh;
  /* background-color: #aa9b9b; */
  /* background-image: linear-gradient(to top, white 50%, rgb(55, 54, 54) 50%); */
}
